.idea
.DS_Store
.venv
electricity_cleaned.csv
electricity_30.csv
weather_Panther.csv
test.py
test2_.py
electricity_panther.csv
Orar_de_Functionare_Cladiri.csv
test_optimizare.py
electricity_30_kWh.csv
electricity_cleaned_kWh.csv
lista_cladiri.txt
/MCP_opt_V1
__pycache__/
test3.py